:root {
    --primary: #100e34;
    --secondary: #551cc0;
    --background: #ffffff;
    --surface: #bfbcff;

    --primaryLight: #1f1a77;
    --secondaryLight: #6c27eb;
    --backgroundOpacity: rgba(255, 255, 255, 0.3);
    
    --text: 'Roboto', Helvetica, sans-serif;
    --titles: 'Playfair Display', Georgia, serif;
}

#article {
    width: 100%;
    display: grid;
    grid-gap: 40px;
    padding: 4rem 8%;
    height: fit-content;
}

#article h2 {
    display: grid;
    margin: 0 auto;
    font-size: 35pt;
    font-weight: 700;
    width: fit-content;
    position: relative;
    place-items: center;
}

#article h2::after {
    content: '';
    bottom: 0;
    width: 80%;
    height: 1px;
    display: block;
    position: absolute;
    background: var(--primary);
}

article {
    gap: 0 20px;
    width: 100%;
    display: grid;
    height: fit-content;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, fit-content);
}

.box-1 {
    grid-row: 1/2;
    grid-column: 1/2;
    background: red;
    height: 300px;
}

.box-2 {
    grid-row: 1/2;
    grid-column: 2/4;
    background: green;
}