:root {
    --primary: #100e34;
    --secondary: #551cc0;
    --background: #ffffff;
    --surface: #bfbcff;

    --primaryLight: #1f1a77;
    --secondaryLight: #6c27eb;
    --backgroundOpacity: rgba(255, 255, 255, 0.3);
    
    --text: 'Roboto', Helvetica, sans-serif;
    --titles: 'Playfair Display', Georgia, serif;
}

.box {
    gap: 2em;
    width: 100%;
    padding: 20px;
    display: flex;
    height: fit-content;
    border-radius: 15px;
    background: var(--background);
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, .5);
}

.box figure {
    width: 200px;
    display: flex;
    height: 300px;
    overflow: hidden;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
}

.box figure img {
    height: 300px;
    width: auto;
    transition: .1s linear;
}

.box figure:hover img {
    transform: scale(1.5);
}

.box section {
    position: relative;
    width: calc(100% - 200px);
}

.box section h4 {
    font-family: var(--text);
    font-size: 25pt;
}

.box section p {
    text-indent: 0;
    margin: 15px 0 0;
}

.box section a {
    right: 0;
    bottom: 0;
    font-weight: 700;
    line-height: 20px;
    position: absolute;
    color: var(--secondary);
}

.box section a::after {
    bottom: 0;
    width: 60%;
    height: 2px;
    content: '';
    display: block;
    position: absolute;
    transition: .3s linear;
    background: var(--secondary);
}

.box section a:hover:after {
    width: 100%;
}