:root {
    --primary: #100e34;
    --secondary: #551cc0;
    --background: #ffffff;
    --surface: #bfbcff;

    --primaryLight: #1f1a77;
    --secondaryLight: #6c27eb;
    --backgroundOpacity: rgba(255, 255, 255, 0.3);
    
    --text: 'Roboto', Helvetica, sans-serif;
    --titles: 'Playfair Display', Georgia, serif;
}

header {
    z-index: 1;
    width: 100%;
    height: 7rem;
    display: flex;
    padding: 0 5%;
    position: fixed;
    align-items: center;
    transition: .5s linear;
    background: transparent;
    justify-content: space-between;
}

header.fixed {
    height: 5rem;
    padding: 0 8%;
    background: var(--primary);
}

header div {
    gap: 5px;
    height: 100%;
    display: flex;
    align-items: center;
}

header div img {
    height: 80%;
    width: auto;
}

header div h1 {
    font-size: 3rem;
    color: var(--background);
    font-family: var(--titles);
}

header nav {
    gap: 50px;
    height: 100%;
    display: flex;
    width: fit-content;
    align-items: center;
}

header nav ul {
    gap: 10px;
    display: flex;
    list-style: none;
}

header nav ul li {
    display: flex;
    cursor: pointer;
    padding: 5px 10px;
    position: relative;
    align-items: center;
    justify-content: center;
}

header nav ul li::after {
    content: '';
    width: 0px;
    height: 1px;
    bottom: 0;
    position: absolute;
    transition: .5s ease-in-out;
    background: var(--background);
}

header nav ul li:hover::after,
header nav ul li.selected::after {
    width: 50%;
}

header nav ul li a {
    text-decoration: none;
    color: var(--background);
}

.button {
    outline: none;
    font-family: 18px;
    padding: 10px 30px;
    border-radius: 15px;
    transition: .5s linear;
    color: var(--background);
    background: transparent;
    border: 1px solid var(--background);
}

.button:hover {
    color: var(--primary);
    background: var(--background);
}